.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  flex-basis: 20%;
}

.Filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .Buttons {
    button {
      margin: 5px;
      background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
      background-color: #b8e356;
      border-radius: 6px;
      border: 1px solid #83c41a;
      cursor: pointer;
      color: #ffffff;
      font-size: 15px;
      font-weight: bold;
      padding: 6px 24px;
      text-decoration: none;
    }
  }
}
